<li>
<b>Título: </b><%= link_to lista_bancas.titulo, :controller => 'projeto', :action => 'visualiza', :id => lista_bancas.titulo %> <%=link_to 'Avaliar', :controller => 'projeto', :action => 'avaliacao', :id => lista_bancas.titulo %> <br><br>
</li>
